html, body{
width:100%;
height:100%;
margin:0;
padding:0;
}
.all_box{
width:auto;
height:100%;
padding:10px;
}
#left_menu{
width: 20%;
float:left;
min-width: 350px;
height:100%;
border-right: 1px solid black;
}
#container{
width:70%;
float:left;
min-width: 700px;
height:100%;
border-left: 1px solid black;
}
#incont{
    width: 50%;
    margin:0 auto;
}
#ap{
    width: 100%;
    height: 30px;
    background-color: #000;
    color: #fff;
    font-size: 1.3em;
    padding: 2px;
    margin:0;

}
#left_menu ul,li a{
display: inline-block;
padding: 2px;
margin:1px;
text-decoration: none;
list-style-type: none;
width: 100%;
text-align: left;
font-size: 1.2em;
}
#left_menu a:hover{
    color: orange;
}
#left_menu a{
    color: rgb(161, 118, 0);
}
#left_menu li{
    width: 100%;
    opacity: 0.7;
    margin-left: -6px;
    padding-bottom: -2px;
}
h2{
text-align: center;
color: lightgray;
}

#container input[type=submit]:hover, #left_menu input[type=submit]:hover{
    font-size: 2em;
    color: rgb(161, 118, 0);
    border: none;


}
#container input[type=submit], #left_menu input[type=submit]{
    background: none;
    -moz-transition-duration: 0.4s;
    float:left;
    position:relative;
    top:-12px;
    display:inline;
    font-size: 2em;
    border: none;
    cursor: pointer;
    margin-top: 5px;

}
#container input[type=text], #left_menu input[type=text]{
    width: 80%;
    height: 30px;
    background-color: rgb(219, 219, 219);
    border: 1px solid rgb(215,215,215);
    border-radius: 1px;
    display:inline;
    -moz-transition-duration: 0.4s;
    text-justify: auto;
    float:left;
    }
    #container input[type=text]:hover, #left_menu input[type=text]:hover{
        width: 80%;
        height: 30px;
        background-color: rgb(209, 209, 209);
        border: 1px solid rgb(215,215,215);
        border-radius: 1px;
        display:inline;
        float:left;
        }
    